body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #b3a1d1;
    padding: 10px;
}

.logo {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.intro, .history, .adventure {
    text-align: center;
    padding: 20px;
}

.rafting-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rafting-content img {
    width: 150px;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.adventure-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

figure {
    text-align: center;
}

figure img {
    width: 120px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b3a1d1;
    padding: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-icons img {
    width: 30px;
    margin-left: 10px;
}
